@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-image: url(../imagenes/fondowebcocina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


.subtituloazul {color: blue;
                font-size:32px;
                text-decoration: underline;
                }

.colorvioleta {color: #7529b9;
               text-decoration: underline;
               font-size: 48px;
               text-align: center;
               display: block;
               font-weight: bold;
               }

.azul {color:blue;}

.colorverde {color:#4CA23E;
             font-size: 16px;
             font-style: oblique;
            }

.colorclaro {color:#4CA23E;
             font-size: 16px;
             font-style: oblique;
             }


.header{
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.redes {
  text-align: right;
}


.img {
      display: flex;
      flex-direction: row;
      width: 15%;
      }


.principal {
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color:#BB8FCE;
padding: 1rem;
font-size: 3rem;
            text-align: center;
            padding: 1rem;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
           }


.footer{
  display: flex;
  box-sizing: inherit;
  font-family: monospace;
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: space-evenly;
  background-color:#BB8FCE;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
          padding-top: 1rem;
          padding-right: 1rem;
          padding-bottom: 1rem;
          padding-left: 1rem;
       }

 .mapa {
         text-align: left;
       }

.botontwitch{
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.4s case-in-out;
}


.botoninstagram{
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.4s case-in-out;
  }

.botonyoutube{
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.4s case-in-out;
  }

  .botontwitter{
    font-size: 28px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.4s case-in-out;
    }


.descripcion{
font-family: monospace;
font-size:18px;
font-style: italic;
color: black;
text-align: right;
           }


.botonwhatsapp {
  width: 45px;
  height: 45px;
  position: fixed;
  line-height: 45px;
  right: 45px;
  bottom: 45px;
  }
