body {background-image: url(../imagenes/fondowebcocina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

.subtituloazul {color: blue;}
.subtituloazul {text-decoration: underline;}
.subtituloazul {font-size:32px;}

.colorvioleta {color: #7529b9;}
.colorvioleta {text-decoration: underline;}
.colorvioleta {font-size: 48px;}
.colorvioleta {text-align: center;}

.azul {color:blue;}

.colorverde {color:#4CA23E;
             font-size: 16px;
             font-style: oblique;
            }

.colorclaro {color:#4CA23E;
             font-size: 16px;
             font-style: oblique;
             }


.header{
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}


.img {
      display: flex;
      flex-direction: row;
      width: 15%;
      }


.principal {
display: flex;
flex-direction: column;
background-color:#BB8FCE;
padding: 1rem;
}


.principal {
            display: block;
            font-size: 3rem;
            text-align: center;
            text-decoration:none;
                      text-decoration-line: none;
                      text-decoration-thickness: initial;
                      text-decoration-color:initial;
            padding: 1rem;
                    padding-top: 1rem;
                    padding-right: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
           }

.footer{
  display: block;
  box-sizing: inherit;
  font-family: monospace;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:#BB8FCE;
  width: 100%;
  font-size: 2rem;
  text-align: center;
       }

.botontwitch{
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.4s case-in-out;
}


.botoninstagram{
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.4s case-in-out;
  }


.descripcion{
font-family: monospace;
font-size:18px;
font-style: italic;
color: #7529b9;
text-align: right;
             }

.botonwhatsapp {
  width: 45px;
  height: 45px;
  position: fixed;
  line-height: 45px;
  right: 45px;
  bottom: 45px;
  }
